 <div class="container">
        
            <form>
              
            <div class="row"><h1><u>Aboutus</u></h1></div>
            <div>&nbsp;</div>
            
            <div><h4>This is a complete student registration form where students can register using their basic details.</h4>
            </div>
            <div>&nbsp;</div>
            <div class="row" style="margin-right: 950px;"><b>Technology Used-</b>
            <ul style="margin-left:20px">
              <li>{{a}}</li>
              <li>{{b}}</li>
              <li>{{c}}</li>
              <li>{{d}}</li>
              <li>{{e}}</li>
              <li>{{f}}</li>
              <li>{{g}}</li>
            </ul>
          </div>

            </form>
        </div>
  

